version: 1.0.{build}

assembly_info: 
  patch: true 
  file: AssemblyInfo.* 
  assembly_version: "{version}" 
  assembly_file_version: "{version}" 
  assembly_informational_version: "{version}"
  
before_build:
- nuget restore

build:
  cmd: build.cmd CompileApp
 
test:
  cmd: build.cmd NUnitTest