body {
  padding-top: 70px;
}

.spdropdown {
	top: 30px;
	background-color: #fff;
	box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
	border: 1px solid #CCCCCC;
	z-index: 1000;
	border-radius: 7px;
	max-height: 500px;
	padding: 7px 0;
	min-width: 160px;
	transition: all 0.2s ease-in-out;
	overflow-y: auto;
}
.spdropdown > div {
	padding: 5px 10px;
	white-space: normal;
    word-wrap: break-word;
}

.spactive, .sphighlighted {
    background-color: #0081C2;
    background-image: linear-gradient(to bottom, #0088CC, #0077B3);
	color: #fff;
}

.sphighlighted:hover {
    cursor: pointer;
}

.form-control-inline {
        max-width: 120px;
        width: auto;
        display: inline;
    }