<!doctype html>
<html data-framework="vue">
	<head>
		<meta charset="utf-8">
		<title>Payoff Charts</title>
		<style> [v-cloak] { display: none; } </style>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	</head>
    <body>
    <div class="todoapp">
        <ul>
            <li v-for="strategy in strategies">
                <a href="#" v-on:click="select(strategy)">{{ strategy.name }}</a>               
            </li>
        </ul>

        <div v-if="selectedStrategy">
            <p>{{selectedName}}</p>
           
            <table class="table">
                <thead>
                    <tr>
                        <th>Direction</th>
                        <th>Kind</th>
                        <th>Strike</th>
                        <th>Expiry</th>
                        <th>Price</th>
                        <th>Delta</th>
                        <th><button type="submit" class="btn btn-primary btn-xs" @click="selectedStrategy.addLeg()">Add Leg</button></th>
                    </tr>
                </thead>
                <tbody v-for="leg in selectedStrategy.legs">
                    <tr>
                        <td>
                            <select class="form-control" v-model="leg.direction" id="direction">
                                <option>Buy</option>
                                <option>Sell</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control" v-model="leg.kind">
                            </select></td>
                        <td><input type="text" class="form-control form-control-inline" placeholder="Strike" v-model="leg.strike" id="strike"></td>
                        <td><input type="text" class="form-control form-control-inline" placeholder="Expiry" v-model="leg.expiry" id="expiry"></td>
                        <td><span data-bind="formattedValue:premium, rounding:2"></span></td>
                        <td><span data-bind="formattedValue:delta, rounding:2"></span></td>
                        <td>
                            <button type="button" class="btn btn-danger btn-xs" aria-label="Left Align" data-bind="click:remove">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

	<script src="node_modules/core-js/client/core.min.js"></script>
	<script src="node_modules/vue/dist/vue.js"></script>
	<script src="node_modules/requirejs/require.js"></script>
    <script>
        requirejs.config({
            // Set the baseUrl to the path of the compiled JS code
            baseUrl: 'Pricer.Fabled',
            paths: {
                // Explicit path to core lib (relative to baseUrl, omit .js)
                'fable-core': '../node_modules/fable-core/fable-core.min'
            }
        });
        // Load the entry file of the app (use array, omit .js)
        requirejs(["app"]);
    </script>

	</body>
</html>
