<!doctype html>
<html data-framework="vue">
<head>
    <meta charset="utf-8">
    <title>Payoff Charts</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.4/nv.d3.js"></script>
    <link href="node_modules/nvd3/build/nv.d3.css" rel="stylesheet">
    <script src="node_modules/core-js/client/core.min.js"></script>
    <script src="node_modules/vue/dist/vue.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a href="#"><span class="navbar-brand">Stocks and Options</span></a>
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Payoff Charts</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="optionPrices.html">Option prices</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="optionPricesApp">
            <p></p>
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">Underlying stock</div>
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Current price</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" placeholder="CurrentPrice" v-model="stock.currentPrice">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Volatility</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" placeholder="Volatility" v-model="stock.volatility">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Interest Rate</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" placeholder="Interest Rate" v-model="stock.rate">
                                </div>
                            </div>
                        </form>
                        <div class="pull-right">
                            <button class="btn btn-success btn-xs" @click="updatePrices()">Get option prices</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="panel panel-primary">
                    <div class="panel-heading">Option prices</div>
                    <div class="panel-body">
                        <svg id="optionPricesChart"></svg>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="out/optionPrices.bundle.js"></script>
</body>
</html>