

<div data-bind="with: stock">
    <div class="row" style="margin-bottom:10px">
        @Html.Partial("StockView")
    </div>
    <div class="row">
        <form class="form-horizontal">
            <div class="form-group" data-bind="css: { error: !currentPrice.isValid() }">
                <label class="col-sm-5 control-label">Current price</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" placeholder="CurrentPrice" data-bind="value: currentPrice">
                </div>
            </div>
            <div class="form-group" data-bind="css: { error: !volatility.isValid() }">
                <label class="col-sm-5 control-label">Volatility</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" placeholder="Volatility" data-bind="value: volatility">
                </div>
            </div>
            <div class="form-group" data-bind="css: { error: !rate.isValid() }">
                <label class="col-sm-5 control-label">Interest Rate</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" placeholder="Interest Rate" data-bind="value: rate">
                </div>
            </div>
        </form>
    </div>
</div>