
@{
    ViewBag.Title = "Option Prices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="col-md-9">
        <h4>Call prices analysis</h4>
        <p>Here is how European Call prices change in the function of strike and expiry</p>
        <div class="row">
            <div id="optionPrices" data-bind="bubblechart: options,chartOptions:optionsChartOptions">
            </div>
        </div>
        <h4>Call and Put Prices</h4>
        <p>The same can be vizualized using single line per expiry, the strikes evolves on X-axis</p>
        <div class="row">
            <div id="callsChart" data-bind="linechart: calls,chartOptions:chartOptions">
            </div>
        </div>
        <div class="row">
            <div id="putsChart" data-bind="linechart: puts,chartOptions:chartOptions">
            </div>
        </div>
        <h4>American Vs European Put Prices</h4>
        <p>European call is worth the same as American call, the same however does not hold for Puts. American Puts can be excercised before expiry. Here is how it affects the price</p>
        <div class="row">
            <div id="americanVsEuropean" data-bind="linechart: americanVsEuropean,chartOptions:chartOptions">
            </div>
        </div>
    </div>
    <div class="col-md-3">
        @Html.Partial("StockInfoView")

        <div class="col-md-2 col-md-offset-9">
            <button type="button" class="btn btn-primary" data-bind="click:updateAnalysis">Update</button>
        </div>
    </div>
<script>
    $(document).ready(function () {
        var vm = new OptionAnalysisViewModel();
        ko.applyBindings(vm);
        koExtensions.charting.initializeCharts();
    });
</script>