@{
    ViewBag.Title = "Option Prices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-9">
    <h4>Average prices over different time periods</h4>
    <p data-bind="text:message"></p>
    <div id="optionPrices" data-bind="linechart: averages,chartOptions:chartOptions">
    </div>
</div>
<div class="col-md-3">
    <div class="row">
        @Html.Partial("StockView")    
    </div>
    <div class="row">
        <table class="table">
            <tr>
                <td>Name:</td>
                <td><span data-bind="text:stock.name"></span></td>
            </tr>
            <tr>
                <td>Ticker:</td>
                <td><span data-bind="text:stock.ticker"></span></td>
            </tr>
            <tr>
                <td>Ticker:</td>
                <td><span data-bind="text:stock.exchange"></span></td>
            </tr>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var vm = new StockAnalysisViewModel();
        ko.applyBindings(vm);
        koExtensions.charting.initializeCharts();
    });
</script>
